.checkout-container {
    width: 1280px;
    height: 919px;
    margin: auto;
    position: relative;

}

.checkout-title {
    width: 490px;
    height: 50px;
    color: #474747;
    font-family: Open Sans;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 91px;
    margin-left: 412px;
}

.price-one {
    width: 1280px;
    height: 128px;
    margin-top: 53px;
    position: relative;
    border-top: 2px solid rgba(224, 224, 224, 0.33);
    border-bottom: 1px solid rgba(224, 224, 224, 0.33);
    background: #F7F7F7;
}

.circle-green {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #00B33C;
    margin-top: 65px;
    margin-left: 105px;
    position: absolute;
    z-index: 1;
}

.price-rate-one {
    width: 123px;
    height: 34px;
    margin-top: 7px;
    margin-left: 140px;
    color: #00B33C;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price-details {
    width: 346px;
    height: 25px;
    margin: 8px;
    margin-left: 140px;
}

.price-conditions {
    width: 999px;
    height: 44px;
    margin-left: 140px;
}

.price-two {
    width: 1280px;
    height: 49px;
    border-top: 1px solid rgba(224, 224, 224, 0.33);
    border-bottom: 1px solid rgba(224, 224, 224, 0.33);
    background: #F7F7F7;
}

.price-rate-two {
    width: 123px;
    height: 34px;
    margin-top: 7px;
    margin-left: 140px;
    color: #F60;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.circle-orange {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #F60;
    margin-top: 8px;
    margin-left: 105px;
    position: absolute;
    z-index: 1;
}

.count {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-left: 1119px;
    margin-top: 10px;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: rgba(217, 217, 217, 0.35);
    color: #545454;
}

.price-three {
    width: 1280px;
    height: 49px;
    border-top: 1px solid rgba(224, 224, 224, 0.33);
    border-bottom: 1px solid rgba(224, 224, 224, 0.33);
    background: #F7F7F7;
}

.price-rate-three {
    width: 123px;
    height: 34px;
    margin-top: 7px;
    margin-left: 140px;
    color: #808080;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.circle-black {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #808080;
    margin-top: 8px;
    margin-left: 105px;
    position: absolute;
    z-index: 1;
}

.payment-container {
    width: 1280px;
    height: 310px;
    border-top: 1px solid rgba(224, 224, 224, 0.33);
    border-bottom: 1px solid rgba(224, 224, 224, 0.33);
    background: #F2F2F2;
    margin-top: 105px;
    position: relative;
}

.offer-text {
    width: 1048px;
    height: 43px;
    color: #EB008B;
    font-family: Open Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 44px;
    margin-left: 101px;
}

.sub-total-container {
    width: 1280px;
    height: 15.401px;
    display: flex;
}

.sub-total {
    display: flex;
    width: 188.585px;
    height: 15.401px;
    color: var(--gray, #A1A1A1);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 110px;
    margin-top: 70px;
}

.sub-total-price {
    width: 345.147px;
    height: 15.401px;
    color: var(--gray, #A1A1A1);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 803.15px;
    margin-top: 70px;
}

.tax-container {
    width: 1100px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 110px;
    display: flex;
}

.tax-txt {
    width: 81.839px;
    height: 30px;
    color: var(--gray, #A1A1A1);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tax-price {
    width: 350px;
    height: 30px;
    color: var(--gray, #A1A1A1);
    text-align: right;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 610px;
}

.total-container {
    width: 1100px;
    height: 30px;
}

.total-txt {}





.check-btn-container {
    width: 374px;
    height: 60px;
    box-sizing: border-box;
    gap: 28px;
    background-color: #DFDFDF;
    position: absolute;
    z-index: 1;
    margin-left: 878px;
}

.check-btn-one>button {
    width: 165px;
    height: 58px;
    border-radius: 34px;
    background: linear-gradient(167deg, #F5BA48 0%, #EC7609 95.31%, #EC008C 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: none;
    display: flex;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 20px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    margin-left: 1082px;
    top: 15px;
    left: 5px;
}

.total-txt {
    position: absolute;
    top: 230px;
    left: 110px;
    color: var(--black, #1B1B1B);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.total-price {
    position: absolute;
    top: 230px;
    left: 1040px;
    color: var(--black, #1B1B1B);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pay-now {
    width: 330px;
    height: 57.755px;
    border-radius: 34px;
    background: linear-gradient(167deg, #F54874 0%, #EC008C 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 250px;
    left: 500px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 120px;
}